@mixin centerImg {
  justify-content: center !important;
  align-items: center !important;
  img { position: relative !important; }
}

@mixin size85 {
  img { width: 85% !important;}
}

// All Images
.image img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  border-bottom-right-radius: 8px;
}
// Page 1


.img_0 img {
  max-height: 800px;
  width: auto;
  // 768px Height Laptop
  @media (max-height: 768px) {
    max-height: 640px;
  }
}

.img_1 img {
  max-height: 100%;
  width: 100%;
}

.img_2 {
  //@include centerImg
}

.img_3 {

}

.img_4 {
  @include centerImg;
  img {
    max-height: 800px;
    width: auto;
  }
  // 768px Height Laptop
  @media (max-height: 768px) {
    img {
      max-height: 640px;  
    }
  }
}

.img_5 {
  @include centerImg;
  @include size85;
}

.img_6 {

}

.img_7 {}
