.page {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(133,133,133,.8);
  padding: 2rem;

  p:nth-child(3) {
    font-size: .85rem;
  }

}
